<!-- <omni-button [label]="buttonLabel" [type]="buttonType" (click)="onClick($event)" [disabled]="false"></omni-button>
<omni-button label="Click Me 2" type="secondary" (click)="onClick($event)"></omni-button>
<omni-select label="Select Something" [items]="selectItems" display-field="label" [id-field]="'id'"
    (change)="onChange($event)" [value]="selectItems[1]" [renderSelection]="renderItem"></omni-select> -->
<div routerLink="/components">Components</div>
<div routerLink="/home">Home</div>
<div routerLink="/form">Form</div>

<router-outlet></router-outlet>